
.annotationDesktop {

}

.annotationMobile {
    display: none;
}

.annotationCard {
    float: left;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 20rem;
}

.annotationProfile {
    width: 32px;
    min-width: 32px;
    margin-right: 16px;
    border-radius: 16px;
    margin-top: 8px;
}

.annotationContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style: solid;
    border-color: $color-blk;
    border-radius: 16px;
    border-width: 1px;
    margin-right: 8px;
    max-width: calc(100% - 48px);
}

.annotationAuthor {
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-top: 16px;
}

.annotationText {
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
    word-wrap: break-word;
    max-width: 100%;
}

.annotationTime {
    color: $color-grey;
    font-style: italic;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.appAnnotation {
    display: none;
}

@media screen and (max-width: 480px) {
    .annotationDesktop {
        display: none;
    }
    
    .annotationMobile {
        display: block;
    }

    .annotationCard {
        margin-bottom: 24px;
        width: 100%;
        max-width: 100%;
        
    }

    .annotationProfile {
        width: 24px;
        min-width: 24px;
        margin-right: 8px;
        border-radius: 12px;
        margin-top: 8px;
    }
}