@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

$color-bg: #f8f8f8;
$color-blk: #373B40;
$color-grey: #9BA5B1;

$txt-wt: 400;
$txt-wt-emp: 600;

$txt-size-reg: 1rem;
$txt-size-head: 2rem;
$txt-size-head-m: 1rem;
$txt-size-hero: 7rem;
$txt-height-reg: 1.5rem;
$txt-height-head: 2rem;
$txt-height-head-m: 2rem;
$txt-height-hero: 7rem;