@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

$mobile-margin-h: 8px;
$margin-h: 32px;
$negative-mobile-margin: -8px;
$negative-margin: -32px;
$double-margin: 64px;

$color-bg: #f8f8f8;
$color-white-trans: rgba(248,248,248,.95);
$color-blk: #373B40;
$color-grey: #9BA5B1;
$color-highlight: rgba(255,246,36,.33);
$color-blu: #36B9E3;

$txt-wt: 400;
$txt-wt-emp: 600;

$txt-size-reg: 1rem;
$txt-size-head: 2rem;
$txt-size-head-m: 1rem;
$txt-size-hero: 7rem;
$txt-height-reg: 1.5rem;
$txt-height-head: 2rem;
$txt-height-head-m: 2rem;
$txt-height-hero: 7rem;


