
.doc_holder {
}

.doc_page {
    margin-top: 96px;
}

.doc_bar {
    width: 100%;
    height: 64px;
    background-color: $color-white-trans;
    position: fixed;
    top: 0;
}

.doc_bar_icons {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 8px;
}

.doc_bar_download {
    display: flex;
    flex-direction: row;
    height: 20px;
    border-radius: 12px;
    border-style: solid;
    border-color: $color-blu;
    border-width: 1px;
    justify-content: flex-start;
    margin-left: 8px;
}

.doc_bar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

svg {
    fill: $color-blk;
}

@media screen and (max-width: 480px) {

    .doc_page {
        margin-top: 56px;
    }

    .doc_bar {
        width: 100%;
        height: 48px;
    }

    .doc_bar_icons {
        height: 48px;
        margin-left: 8px;
        margin-right: 8px;
    }
}