
.doc_holder {
}

.doc_page {
    margin-top: 96px;
}

.doc_bar {
    height: 64px;
    background-color: $color-white-trans;
    position: fixed;
    top: 0;
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);   
}

.bottom_bar {
    height: 84px;
    background-color: $color-blk;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 84px;
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);  
}

.bottom_bar_inner {
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);  
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.doc_bar_icons {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 8px;
}

.doc_bar_download {
    display: flex;
    flex-direction: row;
    height: 20px;
    border-radius: 12px;
    border-style: solid;
    border-color: $color-blu;
    border-width: 1px;
    justify-content: flex-start;
    margin-left: 8px;
}

.doc_bar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

svg {
    fill: $color-blk;
}

.icon_logo {
    width: 42px;
    height: 42px;
}

.banner_logo {
    width: 168px;
    height: 42px;
}

@media screen and (max-width: 480px) {

    .doc_page {
        margin-top: 56px;
    }

    .doc_bar {
        height: 48px;
        margin-left: -8px;
        margin-right: -8px;
        width: calc(100% + 16px);   
    }

    .bottom_bar {
        height: 64px;
        margin-left: -8px;
        margin-right: -8px;
        width: calc(100% + 16px);  
    }

    .bottom_bar_inner {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .doc_bar_icons {
        height: 48px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .icon_logo {
        width: 32px;
        height: 32px;
    }

    .banner_logo {
        width: 128px;
        height: 32px;
    }
}