$txt-alignment: left;

$mobile-margin-h: 8px;

$meta-margin-bottom: 32px;

$header-size: 28px;
$header-line: 40px;
$header-margin-top: 0;
$header-margin-bottom: 8px;

$body-size: 14px;
$body-line: 21px;
$body-margin-bottom: 14px;



h1, h2, h3, h4 {
    text-align: $txt-alignment;
}

h1 {
    font-size: $header-size;
    line-height: $header-line;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: $header-margin-top;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
    font-weight: 700;

    font-family: 'Roboto Condensed';
}

h2 {
    font-size: $body-size;
    line-height: $body-line;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: $header-margin-top;
    margin-bottom: $header-margin-bottom;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
}

h3, h4, h5, h6 {
    font-size: $body-size;
    line-height: $body-line;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: $header-margin-top;
    margin-bottom: $header-margin-bottom;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
}


p {
    margin: 0;
    text-align: left;
    font-size: $body-size;
    line-height: $body-line;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
    margin-bottom: $body-margin-bottom;
}

ol {
    margin: 0;
    text-align: left;
    font-size: $body-size;
    line-height: $body-line;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
}

ul {
    margin: 0;
    text-align: left;
    font-size: $body-size;
    line-height: $body-line;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
    padding-left: 0;
    padding-inline-start: 24px;
}

li {
    margin-bottom: $body-margin-bottom;
}

a {
    color: $color-blu;
    text-decoration: none;
    font-weight: 600;


    margin: 0;
    text-align: left;
    font-size: $body-size;
    line-height: $body-line;
    margin-bottom: $body-margin-bottom;
    
}

pre {
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
}

code {
    color: $color-grey;
    margin: 8px;
    display: inline-block; 
    max-width: calc(100% - 16px);
    font-size: $body-size;
    overflow-x: scroll;
}

.text_meta_date {
    margin-top: 16px;
    color: $color-grey;
    font-style: italic;
}

.text_meta_url {
    color: $color-grey;
}

.doc_meta {
    margin-bottom: $meta-margin-bottom;
}

.text_meta {
    margin-bottom: $header-margin-bottom;
}

.text-annotation {
    background-color: $color-highlight;
}

.text-download {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: $color-blu;
}

.text-highlight-open {
    float: left;
}
@media screen and (max-width: 480px) {

}