$txt-alignment: left;

$mobile-margin-h: 8px;
$margin-h: 32px;

$meta-margin-bottom: 32px;

$header-size: 28px;
$header-line: 40px;
$header-margin-top: 0;
$header-margin-bottom: 8px;

$subheader-size: 18px;
$subheader-line: 24px;
$subheader-margin-top: 0px;
$subheader-margin-bottom: 14px;

$body-size: 14px;
$body-line: 21px;
$body-margin-bottom: 14px;


$d-header-size: 46px;
$d-header-line: 56px;
$d-header-margin-top: 0;
$d-header-margin-bottom: 12px;

$d-subheader-size: 24px;
$d-subheader-line: 36px;
$d-subheader-margin-top: 0px;
$d-subheader-margin-bottom: 24px;

$d-body-size: 18px;
$d-body-line: 30px;
$d-body-margin-bottom: 24px;

html, body {
    font-size: $d-body-size;
    line-height: $d-body-line;
}

h1, h2, h3, h4 {
    text-align: $txt-alignment;
}

p, ol, ul, a {
    font-size: $d-body-size;
    line-height: $d-body-line;
}

h1 {
    font-size: $d-header-size;
    line-height: $d-header-line;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: $header-margin-top;
    font-weight: 700;

    margin-left: $margin-h;
    margin-right: $margin-h;

    font-family: 'Roboto Condensed';
}

h2, h3, h4, h5, h6 {
    font-size: $d-subheader-size;
    line-height: $d-subheader-line;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: $d-subheader-margin-top;
    margin-bottom: $d-subheader-margin-bottom;
    margin-left: $margin-h;
    margin-right: $margin-h;
    padding-top: 24px;
}


p {
    margin: 0;
    text-align: left;
    margin-left: $margin-h;
    margin-right: $margin-h;
    margin-bottom: $d-body-margin-bottom;
}

ol {
    margin: 0;
    text-align: left;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
}

ul {
    margin: 0;
    text-align: left;
    margin-left: $mobile-margin-h;
    margin-right: $mobile-margin-h;
    padding-left: 0;
    padding-inline-start: 24px;
}

li {
    margin-bottom: $d-body-margin-bottom;
}

a {
    color: $color-blu;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    text-align: left;
    margin-bottom: $d-body-margin-bottom;
    
}

pre {
    margin-left: $margin-h;
    margin-right: $margin-h;
}

code {
    color: $color-grey;
    margin: 8px;
    display: inline-block; 
    max-width: calc(100% - 16px);
    font-size: $body-size;
    overflow-x: scroll;
}

figcaption {
    text-align: center;
    margin-left: $margin-h;
    margin-right: $margin-h;
    font-style: italic;
    color: $color-grey;
    font-weight: 300;
}

figure {
    margin-bottom: $d-body-margin-bottom;
}

.text_meta_date {
    margin-top: 16px;
    color: $color-grey;
    font-style: italic;
    font-size: $body-size;
}

.text_meta_url {
    color: $color-grey;
    font-size: $body-size;
}

.doc_meta {
    padding-bottom: $header-margin-bottom;
    margin-bottom: $meta-margin-bottom;
}

.text_meta {
    margin-bottom: 0;
}

.text-annotation {
    background-color: $color-highlight;
}

.text-download {
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    color: $color-blu;
}

.text-highlight-open {
    float: left;
}



@media screen and (max-width: 480px) {

    html, body {
        font-size: $body-size;
        line-height: $body-line;
    }

    h1 {
        font-size: $header-size;
        line-height: $header-line;
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
    }

    h2, h3, h4, h5, h6 {
        font-size: $subheader-size;
        line-height: $subheader-line;
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
        margin-bottom: $subheader-margin-bottom;
        padding-top: 16px;
        padding-bottom: 8px;
    }

    p, ol, ul {
        font-size: $body-size;
        line-height: $body-line;
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
        margin-bottom: $body-margin-bottom;
    }

    .annotationCard {
        font-size: $body-size;
        line-height: $body-line;
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
        margin-bottom: $body-margin-bottom;
        font-weight: normal;
        font-style: normal;
    }

    a {
        font-size: $body-size;
        line-height: $body-line;
        margin-bottom: $body-margin-bottom;
    }

    pre {
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
    }

    figcaption {
        margin-left: $mobile-margin-h;
        margin-right: $mobile-margin-h;
    }

    figure {
        margin-bottom: $body-margin-bottom;
    }
}