
.user_card_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 8px;
}

.user_profile {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.user_profile_pic {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.user_card_text_top {
    margin-bottom: 0px;
}

.user_card_text_bottom {
    margin-bottom: 0px;
}