@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Overpass");
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
h1, h2, h3, h4 {
  text-align: left;
}

h1 {
  font-size: 28px;
  line-height: 40px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 0;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
  font-family: "Roboto Condensed";
}

h2 {
  font-size: 14px;
  line-height: 21px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

h3, h4, h5, h6 {
  font-size: 14px;
  line-height: 21px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 14px;
}

ol {
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  margin-right: 8px;
}

ul {
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 0;
  padding-inline-start: 24px;
}

li {
  margin-bottom: 14px;
}

a {
  color: #36B9E3;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

pre {
  margin-left: 8px;
  margin-right: 8px;
}

code {
  color: #9BA5B1;
  margin: 8px;
  display: inline-block;
  max-width: calc(100% - 16px);
  font-size: 14px;
  overflow-x: scroll;
}

.text_meta_date {
  margin-top: 16px;
  color: #9BA5B1;
  font-style: italic;
}

.text_meta_url {
  color: #9BA5B1;
}

.doc_meta {
  margin-bottom: 32px;
}

.text_meta {
  margin-bottom: 8px;
}

.text-annotation {
  background-color: rgba(255, 246, 36, 0.33);
}

.text-download {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: #36B9E3;
}

.text-highlight-open {
  float: left;
}

.annotationCard {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
}

.annotationProfile {
  width: 24px;
  min-width: 24px;
  margin-right: 8px;
  border-radius: 12px;
  margin-top: 8px;
}

.annotationContent {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #373B40;
  border-radius: 16px;
  border-width: 1px;
  margin-right: 8px;
}

.annotationAuthor {
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-top: 16px;
}

.annotationText {
  margin-bottom: 8px;
  margin-right: 16px;
  margin-left: 16px;
}

.annotationTime {
  color: #9BA5B1;
  font-style: italic;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.doc_page {
  margin-top: 56px;
}

.doc_bar {
  width: 100%;
  height: 48px;
  background-color: rgba(248, 248, 248, 0.95);
  position: fixed;
  top: 0;
}

.doc_bar_icons {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.doc_bar_download {
  display: flex;
  flex-direction: row;
  height: 16px;
  border-radius: 12px;
  border-style: solid;
  border-color: #36B9E3;
  border-width: 1px;
  justify-content: flex-start;
  margin-left: 8px;
}

.doc_bar_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  fill: #373B40;
}

.user_card_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 8px;
}

.user_profile {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.user_profile_pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.user_card_text_top {
  margin-bottom: 0px;
}

.user_card_text_bottom {
  margin-bottom: 0px;
}

html, body {
  font-family: "Overpass", "Roboto", sans-serif;
  background: #f8f8f8;
  color: #373B40;
}

.page {
  padding: 32px;
}

figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

picture {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 60vh;
}

img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 60vh;
}

p > img {
  padding: 0;
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
}

figure {
  margin: 0;
}

section {
  margin-bottom: 24px;
}

@media screen and (max-width: 480px) {
  .page {
    padding: 0;
  }
}

/*# sourceMappingURL=App.css.map */
