
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "styles/basevars";
@import "styles/text";

html, body {
    font-family: 'Roboto', sans-serif;
    background: $color-bg;
    color: $color-blk;
}

.page {
    padding: 32px;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}



@media screen and (max-width: 480px) {
    .page {
        padding: 0;
    }
}