
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import "styles/basevars";
@import "styles/text";
@import "styles/annotation";
@import "styles/navbars";

html, body {
    font-family: 'Overpass', 'Roboto', sans-serif;
    background: $color-bg;
    color: $color-blk;
}

.page {
    padding: 32px;
}

figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

picture {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 60vh;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 60vh;
}

p > img {
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
}

.imageCover {
    
}

figure {
    margin: 0;
}

section {
    margin-bottom: 24px;
}



@media screen and (max-width: 480px) {
    .page {
        padding: 0;
    }
}